<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/" xmlns="http://www.w3.org/1999/html">
<head th:replace="fragments :: head"></head>
<body>
<h1 th:text="${title}"></h1>

<nav th:replace="fragments :: navigation"></nav>

<!-- basically if nothing passes through, this happens -->
<p th:unless="${cheeses} and ${cheeses.size()}">no cheese :(</p>

<tr th:each="cheese : ${cheeses}">
    <td th:text="${cheese.key}">Key</td>
    <td th:text="${cheese.value}">Value</td>
</tr>

<!--<ul>-->
    <!--&lt;!&ndash;  for loop                      accessing iterator &ndash;&gt;-->
    <!--<li th:each="cheese : ${cheeses}" th:text="${cheese.key}"></li>-->
    <!--<p th:each="cheese : ${cheeses}" th:text="${cheese.value}"></p>-->
<!--</ul>-->

</body>
</html>